name: Update Stock Data

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yfinance

      - name: Run analysis
        run: python3.11 analysis.py

      - name: Push to public repo
        uses: dmnemec/copy_file_to_another_repo_action@v1.0.4
        with:
          source_file: 'data.json'
          destination_repo: 'kogagumi-2025/test-finance-frontend'
          destination_folder: ''
          destination_branch: 'main'
          user_email: 'aratasuku05081914@gmail.com'
          user_name: 'github-actions[bot]'
        env:
          API_TOKEN_GITHUB: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
